@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* BODY */

body {
	position: relative;
	max-width: 1400px;
	height: 1900px;
	background: #FFFFFF;
	margin: auto;
	padding: 0 5%;
	font-family: 'Raleway', sans-serif;
}

/* body pour tablette */
@media screen and (max-width: 992px) {
	body {
		height: 2000px;
	}
}


/* body pour mobile */
@media screen and (max-width: 768px) {
	body {
		height: 4110px;
		margin: 0;
		padding: 0;
	}
}



/* NAVIGATION */

nav {
	display: flex;
	height: 70px;
	justify-content: space-between;
	margin-bottom: 50px;
}

.logo-booki {
	height: 20px;
	padding-top: 35px;
}

.liens-nav {
	display: flex;
	width: 300px;
}

.liens-nav a {
	display: block;
	width: 150px;
	border-top: solid white;
	text-decoration: none;
	color: black;
	padding-top: 35px;
	box-sizing: border-box;
	text-align: center;
}

.liens-nav a:hover, .liens-nav a:active {
	border-top: solid #0065FC;
	color: #0065FC;
}

/* nav pour mobile */
@media screen and (max-width: 768px) {
	nav {
		flex-direction: column;
		height: 170px;
	}
	
	.logo-booki {
		margin-left: auto;
		margin-right: auto;
		width: 90px;
		height: 30px;
		margin-bottom: 15px;
	}
	
	.liens-nav {
		width: 100%;
		height: 120px;
	}
	
	.liens-nav a {
		width: 50%;
		height: 100px;
		font-size: 1.2em;
		color: black;
		border-bottom: solid #F2F2F2;
		border-top: none;
		border-width: 5px;
	}
	
	.liens-nav a:hover, .liens-nav a:active {
		border-bottom: solid #0065FC;
		border-top: none;
		border-width: 5px;
		color: #0065FC;
	}
}

/* HEADER */
header {
	height: 280px;
}

header h1 {
	font-size: 1.4em;
}

header p {
	font-size: 1em;
}

.recherche {
	width:330px;
	height: 40px;
	border-radius: 15px;
	border: 1px #F2F2F2 solid;
	display: flex;
	overflow: hidden;
	font-size: 1.1em;
	margin-bottom: 45px;
}

.recherche-mobile {
	display: none;
}

.recherche-logo {
	background-color: #F2F2F2;
	width: 50px;
	height: 40px;
	text-align: center;
	padding: 10px 0;
}

form input {
	width: 150px;
	height: 40px;
	border: none;
	outline: none;
	font-family: 'Raleway';
	font-size: 0.9em;
	font-weight: bold;
	margin-left: 15px;
}

.rechercher-bouton {
	width: 130px;
	height: 40px;
	background-color: #0065FC;
	font-family: 'Raleway';
	font-size: 0.9em;
	font-weight: bold;
	color: white;
	border: none;
}

.section-filtres {
	display: flex;
	font-size: 0.8em;
}

.section-filtres h2 {
	margin-right: 2%;
}

.boutons-filtres {
	width: 200px;
	height: 50px;
	border: 2px #F2F2F2 solid;
	border-radius: 25px;
	font-family: 'Raleway';
	font-size: 1.3em;
	font-weight: bold;
	background-color:white;
	margin-right: 2%;
}

.boutons-filtres:hover {
	background-color: #DEEBFF;
}

.boutons-filtres i {
	color: #0065FC;
	padding-right: 10px;
	font-size: 1em;
}

.point-info {
	display: flex;
	font-size: 1em;
	align-items: center;
	padding-top: 30px;
}

.point-info p {
	margin: 0;
}

.point-info i {
	border-style: solid;
	border-radius: 50%;
	border-color: #D9D9D9;
	padding: 5px 10px;
	margin-right: 10px;
	color: #0065FC;
	font-size: 0.9em;
}

/* header pour mobile */
@media screen and (max-width: 768px) {
	header {
		margin: 0 5%;
		height: 420px;
	}
	
	.recherche {
		display: none;
	}
	
	.recherche-mobile {
		display: flex;
		justify-content: space-between;
		visibility: visible;
		width: 100%;
		height: 50px;
		font-size: 1.3em;
		margin-bottom: 15px;
		border-radius: 15px;
		border: 1px #F2F2F2 solid;
		overflow: hidden;
	}
	
	.recherche-logo {
		width: 15%;
		height: 50px;
		padding: 15px 10px;
	}
	
	form input {
		height: 50px;
		width: 90%;
	}
		
	.rechercher-bouton {
		height: 50px;
		width: 20%;
		color: white;
	}
	
	.section-filtres {
		display: column;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.section-filtres h2 {
		width: 100%;
	}
	
	.boutons-filtres {
		width: 47%;
		padding-left: 10px;
		margin-bottom: 15px;
		font-size: 1em;
		text-align: left;
	}
	
	.boutons-filtres:hover {
		box-shadow: 0 1px 10px grey;
		background-color: white;
	}
	
	.point-info {
		padding-top: 10px;
	}
	
	.point-info p {
		margin-top: 15px;
	}
}

/* SECTION HEBERGEMENT ET POPULAIRES */

.hebergements-et-les-populaires {
	display: flex;
	justify-content: space-between;
	padding: 30px 0;
}

.section-hebergement, .section-populaire {
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 10px 30px;
	box-sizing: border-box;
	height: 630px;
}

.section-hebergement {
	width: 62%;
}

.section-hebergement a {
	text-decoration: none;
	font-size: 1em;
	color: black;
}

.tous-les-hebergements {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}

.hebergement {
	width: 30%;
	height: 200px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 1px 10px grey;
	display: flex;
	flex-direction: column;
	border-top: 4px solid white;
	border-left: 4px solid white;
	border-right: 4px solid white;
	overflow: hidden;
}

.hebergement img {
	width: 100%;
	height: 55%;
	object-fit: cover;
}

.presentation-hebergement {
	display: column;
	line-height: 8px;
	width: 100%;
	height: 45%;
	background-color: white;
	padding-left: 5px;
}

.presentation-hebergement h2, .presentation-populaire h2 {
	font-size: 0.9em;
}

.presentation-hebergement p, .presentation-populaire p {
	font-size: 0.85em;
}

.afficher-plus {
	font-weight: bold;
}

.section-populaire {
	width: 35%;
	padding: 0 4%;
}

.populaire-titre {
	display: flex;
	justify-content: space-between;
	margin: 25px 0;
}

.populaire-titre h1 {
	margin: 0;
}

.populaire-titre i {
	color: #0065FC;
	font-size: 1.3em;
}

.tous-les-populaires {
	display: flex;
	flex-direction: column;
}

.populaire {
	display: flex;
	width: 90%;
	height: 145px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 0 1px 10px grey;
	text-decoration: none;
	color: black;
	margin-bottom: 40px;
	border: 4px solid white;
	overflow: hidden;
	box-sizing: border-box;
}

.populaire img {
	width: 40%;
	height: 100%;
	object-fit: cover;
}

.presentation-populaire {
	position: relative;
	flex-direction: column;
	width: 60%;
	padding-left: 5px;
}

.presentation-populaire .icons {
	position: absolute;
	bottom: 0;
}


.presentation-populaire p {
	font-size: 0.8em;
}

.icons {
	font-size: 0.8em;
	color: #0065FC;
	align-items: baseline;
}

.icon-blanc {
	color: #F2F2F2;
}



/* section pour tablettes */
@media screen and (max-width: 992px) {
	.hebergements-et-les-populaires {
		display: flex;
		flex-direction: column;
	}
	
	.section-hebergement, .section-populaire {
		background-color: #F2F2F2;
		border-radius: 20px;
		margin-bottom: 30px;
	}

	.section-hebergement {
		width: 100%;
		height: 625px;
		padding: 10px 55px 30px;
	}

	.section-populaire {
		margin-top: 15px;
		width: 100%;
		height: 250px;
	}
	
	.tous-les-populaires {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	
	.populaire {
		width: 30%;
	}
}

/* section pour mobile */
@media screen and (max-width: 768px) {
	.hebergements-et-les-populaires {
		flex-direction: column-reverse;
	}
	
	#hebergements-ancre {
		margin-bottom: 25px;
	}
	
	.section-hebergement, .section-populaire {
		border-radius: 0;
		padding: 0 5%;
		margin-bottom: 10px;
	}
	
	.section-populaire {
		height: 580px;
	}
	
	.section-hebergement {
		height: 1400px;
	}
	
	.tous-les-populaires {
		flex-direction: column;
	}
	
	.populaire {
		width: 100%;
		height: 140px;
		margin-bottom: 15px;
	}
	
	.populaire-titre {
		padding: 5px 0;
	}
	
	.presentation-populaire {
		padding-left: 15px;
	}
	
	.presentation-populaire h2 {
		font-size: 1em;
	}
	
	.presentation-populaire p {
		font-size: 0.85em;
	}
	
	.section-hebergement {
		background-color: white;
	}
	
	.tous-les-hebergements {
		flex-direction: column;
		margin: 0;
	}
	
	.hebergement {
		width: 100%;
		height: 200px;
		margin-bottom: 20px;
	}
	
	.presentation-hebergement {
		line-height: 12px;
		font-size: 1.1em;
	}
	
	.afficher-plus {
		display: none;
	}
}

/* ARTICLE */
.section-activite {
	width: 100%;
	height: 600px;
}

.toutes-les-activites {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	
}

.activite {
	width: 23%;
	height: 445px;
	overflow: hidden;
	border-radius: 20px;
	box-shadow: 0 1px 10px grey;
	text-decoration: none;
	color: black;
}

.activite img {
	width: 100%;
	height: 90%;
	object-fit: cover;
}

.activite h2 {
	padding-left: 15px;
	font-size: 0.8em;
	
}

/* article pour tablette */
@media screen and (max-width: 992px) {
	.section-activite {
		height: 400px;
	}
	
	.activite {
		width: 21%;
		height: 270px;
	}
	
	.activite img {
		height: 80%;
	}
}

/* article pour mobile */
@media screen and (max-width: 768px) {
	.section-activite {
		padding: 0 5%;
		height: 1000px;
		box-sizing: border-box;
	}
	
	.toutes-les-activites {
		flex-direction: column;
	}
	
	.activite {
		width: 100%;
		height: 190px;
		margin-bottom: 30px;
	}
	
	.activite img {
		width: 100%;
		height: 70%;
		object-fit: cover;
	}
	
	.activite h2 {
		font-size: 1em;
	}
}


/* FOOTER */
footer {
	width: 100%;
	height: 200px;
	background-color: #F2F2F2;
	padding: 20px;
	display: flex;
	box-sizing: border-box;
}

.liens-footer {
	width: 50%;
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.liens-footer h1 {
	font-size: 1.2em;
}

.liens-footer a {
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	color: black;
	font-size: 0.9em;
}


/* footer pour mobile */
@media screen and (max-width: 768px) {
	footer {
		flex-direction: column;
		height: 500px;
	}
	
	.liens-footer {
		width: 90%;
		margin: 0;
		padding: 0 20px 10px;
	}
	
	.liens-footer a {
		font-size: 1.2em;
	}
}